@model Assignment2.Models.Item

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumBid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumBid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartBidDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartBidDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndBidDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndBidDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPicture)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.ItemPicture != null && Model.ItemPicture.Length > 0)
            {
                string base64String = Convert.ToBase64String(Model.ItemPicture);
                <img src="data:image/png;base64,@base64String" alt="Item Picture" width="350" height="350" />
            }
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit |</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
