@using System.Security.Claims;
@model IEnumerable<Assignment2.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<div class="d-flex justify-content-lg-between">
    <h2>All Items Available</h2>
    <form asp-action="Index" method="get">
        <div id="search-bar"class="form-group">
            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" style="width: 200px" placeholder="Search By Name or Category" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>

<p>
    <a asp-action="Create">Auction Item</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumBid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartBidDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndBidDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPicture)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumBid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartBidDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndBidDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @if (item.ItemPicture != null && item.ItemPicture.Length > 0)
                    {
                        string base64String = Convert.ToBase64String(item.ItemPicture);
                        <img src="data:image/png;base64,@base64String" alt="Item Picture" width="100" height="100" />
                    }
                </td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">Details </a>

                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id"> | Delete</a>
                    }
                    @if (item.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"> | Edit |</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> | Delete | </a>
                    }

               
               
            </td>
        </tr>
}
    </tbody>
</table>
